body {
    color: #421;
    font-weight: bold;
    font-size: 18px;
    font-family: "Courier New";
    background: rgb(223, 242, 247);
  }
  
  body::after {
    content: "";
    background-repeat: repeat-y;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  
  span {
    color: rgb(36, 17, 119);
  }
  
  ::-webkit-input-placeholder {
    color: #711;
  }
  
  #main {
    position: fixed;
    top: 40%;
    right: 200px;
    border: 0px solid #421;
    padding: 40px;
  }
  
  #main div {
    margin: 10px;
  }
  
  #input {
    border: 0;
    padding: 5px;
  }
  .App {
    font-family: sans-serif;
  }
  
  .App-header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .header-left {
    display: flex;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-right img {
    width: 50px; /* Adjust width as per your logo size */
    height: auto;
  }
  
  .header-left button,
  .header-right button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  